[submodule "modules"]
	path = modules
	url = https://github.com/prise-3d/Thesis-CommonModules.git
[submodule "optimization"]
	path = optimization
	url = https://github.com/prise-3d/Thesis-OptimizationModules.git
